bundles/*
discify/*
dist/*
docs/_build/*
docs/blockchain/account-store.rst
docs/blockchain/event-hub.rst
docs/blockchain/executor.rst
docs/blockchain/name-resolver.rst
docs/blockchain/signer.rst
docs/common/logger.rst
docs/common/validator.rst
docs/contracts/contract-loader.rst
docs/dfs/dfs-interface.rst
docs/dfs/ipfs.rst
docs/encryption/cryptor-unencrypted.rst
node_modules/*
.env.local
ipfs-contractus
package-lock.json
package-lock.json.*
