language: node_js

sudo: required

matrix:
  include:
  - name: "service contracts"
    node_js: "11"
    env:
      - TESTSPECS='src/verifications/*.spec.ts src/profile/*.spec.ts src/*.spec.ts src/votings/*.spec.ts'
      - CHAIN_ENDPOINT='ws://localhost:7545'
      - CODECOV_TOKEN="b4aa706f-0ecb-4fbc-955d-711cfea36cdb"
    script:
      - npm run testunitcoverage

  - name: "digital-twin tests"
    node_js: "11"
    env:
      - TESTSPECS='src/contracts/digital-twin/*.spec.ts'
      - CHAIN_ENDPOINT='ws://localhost:7545'
      - CODECOV_TOKEN="b4aa706f-0ecb-4fbc-955d-711cfea36cdb"
    script:
      - npm run testunitcoverag

  - name: "data contract & IPFS tests"
    node_js: "11"
    env:
      - TESTSPECS="src/contracts/data-contract/*.spec.ts src/encryption/*.spec.ts src/dfs/*.spec.ts"
      - CHAIN_ENDPOINT='ws://localhost:7545'
      - CODECOV_TOKEN="b4aa706f-0ecb-4fbc-955d-711cfea36cdb"
    script:
      - npm run testunitcoverage

  - name: "service/base/businesscenter contract tests"
    node_js: "11"
    env:
      - TESTSPECS='src/contracts/*.spec.ts src/contracts/base-contract/*.spec.ts src/contracts/business-center/*.spec.ts src/contracts/service-contract/*.spec.ts'
      - CHAIN_ENDPOINT='ws://localhost:7545'
      - CODECOV_TOKEN="b4aa706f-0ecb-4fbc-955d-711cfea36cdb"
    script:
      - npm run testunitcoverage

services:
  - docker

cache:
  npm: false
  directories:
    - docker-cache

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-5
      - g++-5

before_install:
  - |
    filename=docker-cache/saved_images.tar
    if [[ -f "$filename" ]]; then docker load < "$filename"; fi
    mkdir -p docker-cache
    docker pull evannetwork/testcore-snapshot
    docker save -o "$filename" evannetwork/testcore-snapshot
  - git clone https://github.com/evannetwork/testcore-config.git && cd testcore-config
  - docker run -d -p 8546:8546 -p 8545:8545 -v /home/travis/build/evannetwork/api-blockchain-core/testcore-config/testcore.json:/root/parity/spec.json -u root evannetwork/testcore-snapshot --chain /root/parity/spec.json --jsonrpc-interface all --unsafe-expose
  - export CC="gcc-5" && export CXX="g++-5" && export LINK="gcc-5" && export LINKXX="g++-5"
  - npm install -g npm@latest
  - cd ..
  - git clone https://github.com/trufflesuite/ganache-cli.git && cd ganache-cli && npm install && cd node_modules && rm -rf ganache-core && git clone https://github.com/trufflesuite/ganache-core.git && cd ganache-core && npm i && cd /home/travis/build/evannetwork/api-blockchain-core
install:
  - cd /home/travis/build/evannetwork/api-blockchain-core
  - npm install
  - rm -rf node_modules/@evan.network/dbcp && git clone https://github.com/evannetwork/dbcp.git ../dbcp && cd ../dbcp && git checkout develop && npm i && npm run build && cd ../api-blockchain-core && mv ../dbcp ./node_modules/@evan.network
  - cd node_modules/@evan.network && rm -rf smart-contracts-core && git clone https://github.com/evannetwork/smart-contracts-core.git && cd smart-contracts-core && git checkout develop && npm i && node ./scripts/build-contracts.js
  - cd ../../../
  - cd ganache-cli && node cli.js --allowUnlimitedContractSize --gasLimit 0xE4E1C0 -p 7545 -f http://localhost:8545 > /dev/null &
  - cd /home/travis/build/evannetwork/api-blockchain-core
after_success:
  - bash <(curl -s https://codecov.io/bash) -cF javascript
