language: node_js

sudo: required

node_js:
  - "8.11.3"

env:
  - TESTSPEC=contracts
  - TESTSPEC=services
  - TESTSPEC=datacontract

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - g++-4.8

before_install:
  - export CXX="g++-4.8"
  - npm install -g npm@latest

install:
  - npm install 
  - cd node_modules/@evan.network && rm -rf dbcp && git clone https://github.com/evannetwork/dbcp.git && cd dbcp && git checkout develop && npm i && npm run build && cd ../../../
  - cd node_modules/@evan.network && rm -rf smart-contracts-core && git clone https://github.com/evannetwork/smart-contracts-core.git && cd smart-contracts-core && git checkout develop && npm i && cd ../../../

script:
  - npm run test:$TESTSPEC